{% extends "base.html" %}

{% block content %}
<h2>Teacher Home</h2>

{% if user.photo %}
  <img src="{{ user.photo.url }}" alt="Profile photo" style="width:120px; height:120px; border-radius:12px; object-fit:cover;">
{% else %}
  <p class="badge">No photo uploaded</p>
{% endif %}
<p>Name: {{ user.real_name }}</p>
<p>Role: {{ user.role }}</p>

<h3>Courses You Teach</h3>

{% for course in courses %}
  <div class="card course-card">
    <a href="{% url 'teacher_course_manage' course.id %}" class="course-card-link">
      <h3 class="course-title">{{ course.title }}</h3>
      <p class="course-desc">{{ course.description|truncatewords:20 }}</p>
      <span class="badge">Manage Course</span>
    </a>
  </div>
{% empty %}
  <p>No courses created yet.</p>
{% endfor %}

<p><a href="{% url 'course_create' %}">+ Create a new course</a></p>

<p><a href="{% url 'course_list' %}">Browse Courses</a></p>
{% endblock %}