{% extends "base.html" %}

{% block content %}
<h2>Student Home</h2>

{% if user.photo %}
  <img src="{{ user.photo.url }}" alt="Profile photo" style="width:120px; height:120px; border-radius:12px; object-fit:cover;">
{% else %}
  <p class="badge">No photo uploaded</p>
{% endif %}
<p>Name: {{ user.real_name }}</p>
<p>Role: {{ user.role }}</p>

<h3>Your Courses</h3>
{% for enrollment in enrollments %}
  <div class="card course-card">
    <a href="{% url 'course_detail' enrollment.course.id %}" class="course-card-link">
      <div class="course-card-top">
        <h3 class="course-title">{{ enrollment.course.title }}</h3>
        <span class="badge">{{ enrollment.status }}</span>
      </div>

      <p class="course-desc">{{ enrollment.course.description|truncatewords:20 }}</p>
    </a>
  </div>
{% empty %}
  <p>You are not enrolled in any courses.</p>
{% endfor %}

<p><a href="{% url 'course_list' %}">Browse Courses</a></p>
{% endblock %}